body{
    background-color: #ffeaff;
}

h1 {
    text-align: center;
}

li {
    margin: 0 0 1em 0;
}

#level {
    width:75%;
    margin: 0 auto;
}

#maze{
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    margin: 0 auto;
    position: absolute;
}

.speech {
    position: absolute;
    z-index: 99;
    padding: 5px;
    font-size: 200%;

}

.speech-text{
    float: left;
    background-color: rgba(1,255,1,.5);
}

.prompt {
    float: left;
    background-color: rgba(0, 255, 255, .5);
}

.floatLeft {
    float:left;
}

.box {
    width: 48px;
    height: 48px;
    border: 1px dashed black;
    float: left;
    line-height: 48px;
    text-align: center;
}

.boundary {
    background-color: black;
}

.start {
    background-color: grey;
}

.end {
    background-color: green;
}

.easy-password, .easy-password-2, .easy-password-3, .easy-password-3-5, .easy-password-3-7, .easy-password-4, .easy-password-5, .easy-password-6, .easy-password-6-5, .easy-password-7{
    background-color: aqua;
}